<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/assets/css/style.css" rel="stylesheet">

</head>
<body>

    <!-- This is the navigation bar -->
    <section>
    <header>

        <h2> Name of company </h2>

            <nav>
                <a href="#"> Nav 1 </a>
                <a href="#"> Nav 2 </a>
                <a href="#"> Nav 3 </a>
                <a href="#"> Nav 4 </a>
            </nav>

        <!-- This is the heading banner section -->

        <div>
            <h1> This is a fun heading </h1>
        </div>

        <div> 
            <img src="#" alt="">
        </div>
    </section>

        <!-- This is the heading text section -->

    <section>
        <div>
            <h3> Fact: <span> 900 </span> </h3>
            <h3> Fact: <span> 900 </span> </h3>
            <h3> Fact: <span> 900 </span> </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate hic quo fugiat itaque recusandae temporibus voluptatem. </p>
        </div>
    </section>

        <!-- Section 2 - Text and Image Grid -->
    <section>  

        <div>
            <h1> Another </h1>
            <h2> Sick Heading for attention </h2>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus natus ratione molestiae enim rem omnis eaque? Ratione, nostrum hic nihil nam earum mollitia atque suscipit libero ad, alias asperiores aliquam. </p>
        </div>

        <div class="grid grid-col-3 gap-4"> 
            <div> </div>
            <div> </div>
        </div>

    </section>  

    </header>

    {{content}}
    
    <footer>

        <h2> Footer </h2>

    </footer>

</body>
</html>